/* FLEX WRAP */
main{
  height: auto;
  min-height: 60vh;
  background-color: purple;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px 20px;
}

main div{
  width: 200px;
  height: 200px;
  background-color: rgb(174, 255, 0);
}